<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="0.14.0-build20632" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.14.0-build20632" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights.WindowsStore" version="0.14.0-build20632" targetFramework="win81" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.16-beta" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="win81" />
  <package id="WinRTXamlToolkit.Controls.DataVisualization.Windows" version="1.8.1.0" targetFramework="win81" />
  <package id="WinRTXamlToolkit.Windows" version="1.8.1.0" targetFramework="win81" />
</packages>