<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="gpioConnection" type="Raspberry.IO.GeneralPurpose.Configuration.GpioConnectionConfigurationSection, Raspberry.IO.GeneralPurpose" />
	</configSections>
	<gpioConnection pollInterval="20" driver="Raspberry.IO.GeneralPurpose.MemoryGpioConnectionDriver, Raspberry.IO.GeneralPurpose" />
</configuration>
