@model MvcApplication.ViewModels.ChartsViewModel

@using MvcApplication.ViewModels;
@using CodeAbility.MonitorAndCommand.Models; 

@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int refreshPeriod = ViewBag.RefreshPeriod;          
}

@section head {


}

<div id="Temperature" style="width: 1000px; height: 350px; margin: auto;"></div>
<div id="Humidity" style="width: 1000px; height: 350px; margin: auto;"></div>

<div id="charts">
    @Html.Partial("_ChartPartial")
</div>

<script type="text/javascript">

    $.ajaxSetup ({
        // Disable caching of AJAX responses
        cache: false
    });

    $(function () {
        setInterval(function () { $('#charts').load('/Chart/RefreshChartPartial'); }, @refreshPeriod.ToString()); // every 3 sec
    });

</script>

