@model MvcApplication.ViewModels.ChartsViewModel

@using MvcApplication.ViewModels;
@using CodeAbility.MonitorAndCommand.Models; 

@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int refreshPeriod = ViewBag.RefreshPeriod;          
}

@section head {


}

<div id="Temperature" style="width: 1000px; height: 320px; margin: auto;"></div>
<div class="temperaturelegend" style="width: 1000px; margin: auto; text-align: center;"></div>
<div id="Humidity" style="width: 1000px; height: 320px; margin: auto;"></div>
<div class="humiditylegend" style="width: 1000px; margin: auto; text-align: center;"></div>

@{
    string temperatureJsonString = String.Format("[{0},{1},{2}]", Model.PhotonATemperatureViewModel.BuildJsonArray(), Model.PhotonATemperatureViewModel.BuildJsonArray(), Model.PhotonATemperatureViewModel.BuildJsonArray());
    string humidityJsonString = String.Format("[{0},{1},{2}]", Model.PhotonAHumidityViewModel.BuildJsonArray(), Model.PhotonAHumidityViewModel.BuildJsonArray(), Model.PhotonAHumidityViewModel.BuildJsonArray());
}

<script type="text/javascript">

    //Temperature
    temperature = JSON.parse('@Html.Raw(temperatureJsonString)');

    for (var i = 0; i < temperature.length; i++) {
        temperature[i] = MG.convert.date(temperature[i], 'date', "%Y-%m-%dT%H:%M:%S.%LZ");
    }

    MG.data_graphic({
        //title: "Temperature",
        //description: "This line chart contains multiple lines.",
        data: temperature,
        width: 1000,
        height: 320,
        left: 100,
        right: 0,
        bottom: 50,
        target: '#Temperature',
        legend: ['Photon A','Photon B','Photon C'],
        legend_target: '.temperaturelegend',
        y_label: 'Temperature (c°)',
        baselines: [{ value: 19, label: '19c°' }],
    });

    //Humidity
    humidity = JSON.parse('@Html.Raw(humidityJsonString)');

    for (var i = 0; i < humidity.length; i++) {
        humidity[i] = MG.convert.date(humidity[i], 'date', "%Y-%m-%dT%H:%M:%S.%LZ");
    }

    MG.data_graphic({
        //title: "Humidity",
        //description: "This line chart contains multiple lines.",
        data: humidity,
        width: 1000,
        height: 320,
        left: 100,
        right: 0,
        bottom: 50,
        target: '#Humidity',
        legend: ['Photon A', 'Photon B', 'Photon C'],
        legend_target: '.humiditylegend',
        y_label: 'Humidity (%)',
        baselines: [{ value: 35, label: 'Low' }, { value: 65, label: 'High' }],
    });

</script>

@*<div id="charts">
    @Html.Partial("_ChartPartial")
</div>

<script type="text/javascript">

    $.ajaxSetup ({
        // Disable caching of AJAX responses
        cache: false
    });

    $(function () {
        setInterval(function () { $('#charts').load('/Chart/RefreshChartPartial'); }, @refreshPeriod.ToString()); // every 3 sec
    });

</script>*@

