<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https://portalvhdss7vm3hv9dptjn.table.core.windows.net/;AccountName=[YourAccountName];AccountKey=[YourAccountKey]" />-->
  </appSettings>
</configuration> 