<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="RepositoryFolderPath" value="C:\__Q2M\Repository" />
      <add key="SynchronizationFolderPath" value="C:\__Q2M\OwnCloud" />
      <add key="TemporaryFolderPath" value="C:\__Q2M\Temporary" />
    </appSettings>
</configuration>